<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <script>
        $(document).ready(function(){
            $('h1').html('<a href="jq02">text</a>');
            $('h2').css({'color':'red','background':'blue'});
            $('h3').click(function(){
                $(this).css('color','green');
            });
            $('#jq').html('JQ');
            $('.c1').html('CLASS');
            $('form > input[type="text"]').css('background','gray');
        });
    </script>
</head>
<body>
    <h1>jq01</h1>
    <h1 id="jq">jq01</h1>
    <h2>Header2</h2>
    <h3>Header3</h3>
    <h3>Header3</h3>
    <h3 class="c1">Header3</h3>
    <form>
        ID<input type="text" name="id"><br>
        PWD<input type="password" name="pwd"><br>
    </form>
</body>
</html>