<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <script>
        $(document).ready(function(){
            $('button').hover(function(){
                $(this).css('color','red');
            },function(){
                $(this).css('color','black');
            });

            $('input').focus(function(){
                $(this).css('background','gray');
            });
            $('input').blur(function(){
                $(this).css('background','white');
            });
            $('button').eq(0).click(function(){
                str = $('input[name="id"]').val();
                alert(str);
            });
            $('button').eq(1).click(function(){
                $('input[name="id"]').val('input value');
            });
            $('button').eq(2).click(function(){
                $('form').slideDown();
            });
            $('button').eq(3).click(function(){
                $('form').slideUp();
            });
        });
    </script>
</head>
<body>
<button>Button1</button>
<button>Button2</button>
<button>Button3</button>
<button>Button4</button>
<br>
<form>
ID<input type="text" name="id"><br>
PWD<input type="password" name="pwd"><br>
</form>
</body>
</html>