<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>

    <script>
        $(document).ready(function(){
            $('form > a').click(function () {
                id = $('input[name="id"]').val();
                pwd = $('input[name="pwd"]').val();
                name = $('input[name="name"]').val();
                age = $('input[name="age"]').val();
                if(id == '' || id == null){
                    alert('아이디를 입력하세요.')
                    $('input[name="id"]').focus();
                    return;
                }
                  if(pwd == '' || pwd == null){
                    alert('패스워드를 입력하세요.')
                    $('input[name="pwd"]').focus();
                    return;
                }
                  if(name == '' || name == null){
                    alert('성함을 입력하세요.')
                    $('input[name="name"]').focus();
                    return;
                }
                  if(age == '' || age == null){
                    alert('나이를 입력하세요.')
                    $('input[name="age"]').focus();
                    return;
                }

                c = confirm('Are you register now?');
                  if(c == true){
                      $('#reg_form').attr('action','regimpl');
                      $('#reg_form').attr('method','post');
                      $('#reg_form').submit();

                  }else {
                      $('input[name="id"]').val('')
                      $('input[name="pwd"]').val('')
                      $('input[name="name"]').val('')
                      $('input[name="age"]').val('')
                  }

            })

        });
    </script>
</head>
<body>
<form id="reg_form">
    {% csrf_token %}
    <table>
 <thead>
    <tr><td>ID</td><td><input type="text" name="id"></td>
    <tr><td>PASSWORD</td><td><input type="password" name="pwd"></td></tr>
    <tr><td>성함</td><td><input type="text" name="name"></td></tr>
    <tr><td>나이</td><td><input type="number" name="age"></td></tr>

 </thead>
    </table>
    <a href="#" id="reg">register</a>
</form>
</body>
</html>